@model School.Models.ViewModel.StudentViewModel

@{
   ViewData["Title"] = "Students";
}

<h2 class="text-center text-primary">Students</h2>

<p class="d-flex justify-content-end">
   <a asp-action="Create" class="btn btn-dark">Create New</a>
</p>

<div class="container mt-4">

   <div class="d-flex flex-column gap-3">

   @foreach (var item in Model.Students)
   {
       <div class="card p-3 rounded-3 shadow-lg border border-secondary">
           <div class="card-body">
               <h5 class="card-title text-success">Name: @Html.DisplayFor(modelItem => item.FullName)</h5>
               <p class="card-text">
                   <strong>Email:</strong> @Html.DisplayFor(modelItem => item.Email)
               </p>
               <p class="card-text">
                   <strong>Identity Document:</strong> @Html.DisplayFor(modelItem => item.Document)
               </p>
               <div class="d-flex flex-column gap-2 mt-3">
                   @if(item.CourseStudents.Count == 0)
                   {
                       <p class="lead text-danger">
                           No Courses
                       </p>
                   }
                   @foreach (var course in item.CourseStudents)
                   {
                       <div>
                           <span class="badge bg-primary">
                               @course.Course.Name
                           </span>
                       </div>
                   }
               </div>
               <div class="d-flex gap-3 justify-content-center align-items-center mt-4">
                   <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                   <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a>
                   <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
               </div>
           </div>
       </div>
   }
   </div>
</div>